# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# Capacitor
/android/app/build
/android/app/src/main/assets/public
/android/app/src/main/res/xml/config.xml
/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/android/app/src/main/res/drawable/ic_launcher_background.xml
/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/ios/App/App/public
/ios/App/Pods
